/* color palette */

:root{
--bg-color-1: #d9f3f3;
--bg-color-2: aliceblue;
--font: black;
--font-2: white;
--accent-1: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
--accent-2: #134bcf;
--dark: #000;
}


/* CSS resets */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */

html {
    font-size: 100%;
}

/* General CSS */

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color-1);
    font-family: "Fauna One", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 700px) {
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 4rem;
    /* background-color:#d4deeb; */
    background:var(--accent-1);
    margin-bottom: 4rem;
    text-align: center;
    color: white;
    border-bottom: #000 5px solid;
}

@media (max-width: 700px) {
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    font-family: "Cinzel", serif;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--font-2);
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color:white; 
    margin: 0 1 rem;
    display: inline-block;
    transition: all 1s ease;
}

nav a:hover{
    color: var(--accent-2);
    background-color: var(--font-2);
    transform: scale(1.3);
}

@media (max-width: 750px) {
    nav a {
        margin: 0 .5rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 850px){
    main {
        margin: 3rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem;
    }
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 4rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #ffffff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px #759eab1a;
    border: 2px #000 solid;
    /* border-style: solid;
    border-color: #d2db21 #8787c1 #00da80 #d31996;  */
}

@media (max-width: 800px) {
    .portfolio-item {
        padding: 4rem;
    }
}

@media (max-width: 650px) {
    .portfolio-item {
        padding: 3rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.5rem;
}

.about-section {
    /* background-color: aliceblue; */
}

.portfolio-section {
    /* background-color:azure; */
}

footer {
    padding: 4rem;
    /* background-color:#d4deeb; */
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    text-align: left;
    color: #ffffff;
    border-top: #000 5px solid;
}




/* style classes */

.accent-1 {
    color: #134bcf;
}

.accent-2{
    color: #134bcf; 
}
