body {
    animation: change-color 10s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }

    50% {
        background-color: aqua;
    }

    100% {
        background-color: aliceblue;
    }
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 40deg);
    }
}

.square {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}


.square:hover {
    background-color: darkcyan;
    transform: rotate(30deg);

}

.button-div {
    text-align: center;
}

.button {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: blueviolet;
    transform: scale(1.5);
}

.loading {
    background-color: aquamarine;
    animation: stretch 5s infinite alternate;
    width: 80vw;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}

.cat{
    transition: all .5s;
}

.cat:hover {
    transform: rotate(360deg);
}

.kitty{
 animation: catnip 3s infinite alternate;
}

@keyframes catnip {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(80deg, 90deg);
    }
}
